$main-text-color: #fff;

$main-bg-color: #1B2330;

$footer-color: #0B1524;

$link-color: #62E0D9;

$main-btn-bg-color: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);

$main-btn-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);

$main-btn-radus: 28px;