.feedback {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feedback__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback__item {
  max-width: 360px;
  margin-right: 15px;
}

.feedback__item:last-child {
  margin-right: 0;
}

.feedback__item-wrapper {
  padding-top: 40px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  background-color: #202A3C;
  position: relative;
  z-index: 10;
}

.feedback__item-blockquote{
  position: relative;

}

.feedback__item-blockquote::before {
  content: "";
  background-image: url("../img/blockquote.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -35px;
  z-index: 1;
  left: -10px;
}

.feedback__item-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.feedback__autor-wrapper {
  display: flex;
  align-items: center;
}

.feedback__autor-wrapper::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
  border-radius: 50%;
  background-size: contain;

}

.feedback__first-img::before {
  background-image: url("../img/satish-patel.png");
}

.feedback__first-second::before {
  background-image: url("../img/bruce-mckenzie.png");
}

.feedback__first-thrid::before {
  background-image: url("../img/iva-boyd.png");
}

.feedback__autor {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 15px; 
}

.feedback__autor-info {
  font-size: 12px;
  line-height: 13px;
  margin: 0;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

    .feedback__first-img::before {
      background-image: url("../img/satish-patel@2x.png");
    }
    
    .feedback__first-second::before {
      background-image: url("../img/bruce-mckenzie@2x.png");
    }
    
    .feedback__first-thrid::before {
      background-image: url("../img/iva-boyd@2x.png");
    }
}

@media only screen and (max-width: 1129px) {

  .feedback__list {
    justify-content: space-around; 
  }

  .feedback__item {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 754px) {

  .feedback__list {
    justify-content: space-around; 
  }

  .feedback__item {
    margin-right: 0;
    max-width: 80%;
  }
}

@media only screen and (max-width: 400px) {

  .feedback {
    padding-bottom: 50px;
  }
  
  .feedback__item {
    max-width: 90%;
  }
}