.site-hero {
  text-align: center;
  padding-bottom: 70px;
}

.site-hero__heading {
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 60px;
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 32px;
}

.site-hero__heading::before {
  content: "";
  display: inline-block;
  width: 520px;
  height: 420px;
  background-image: url("../img/hero-illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}

.site-hero__text {
  max-width: 590px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.site-hero__link {
  padding: 20px 95px;
}


//media

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      .site-hero__heading::before {
        background-image: url("../img/hero-illustration@2x.png");
      }
  }


@media only screen and (max-width: 600px) {

  .site-hero__heading::before {
    background-size: 400px 300px;
    background-position: center center;
    height: 300px;
    width: 400px;
    margin-bottom: 30px;
  }

  .site-hero__heading {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 430px) {
  .site-hero__heading {
    font-size: 25px;
    line-height: 30px;
  }

  .site-hero__heading::before {
    background-size: 250px 170px;
    background-position: center center;
    height: 170px;
    width: 250px;
  }
}